.volunteer-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.volunteer-thq-volunteer-elm {
  width: 100%;
  height: 3692px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.volunteer-thq-ellipse3-elm {
  top: 16px;
  left: 1178px;
  width: 72px;
  height: 71px;
  position: absolute;
}
 
.volunteer-thq-maskgroup-elm {
  top: 9px;
  left: 1173px;
  width: 81px;
  height: 78px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.volunteer-thq-ellipse1-elm {
  top: 0px;
  left: 0px;
  width: 81px;
  height: 78px;
  position: absolute;
}
 
.volunteer-thq-ellipse2-elm {
  top: 31.77777862548828px;
  left: 20.593219757080078px;
  width: 40px;
  height: 58px;
  position: absolute;
}
 
.volunteer-thq-ellipse4-elm {
  top: 21px;
  left: 1203px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.volunteer-thq-text-elm10 {
  top: 38px;
  left: 476px;
  color: rgba(59, 90, 247, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.volunteer-thq-text-elm11 {
  top: 38px;
  left: 646px;
  color: rgba(0, 0, 0, 1);
  width: 142px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm12 {
  top: 38px;
  left: 816px;
  color: rgba(0, 0, 0, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm13 {
  top: 38px;
  left: 987px;
  color: rgba(0, 0, 0, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm14 {
  top: 38px;
  left: 306px;
  color: rgba(0, 0, 0, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-frame5-elm {
  gap: 10px;
  top: 29px;
  left: 200px;
  width: 89px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  justify-content: center;
}
 
.volunteer-thq-text-elm15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm16 {
  top: 119.72573852539062px;
  left: 436px;
  color: rgba(59, 90, 247, 1);
  width: 486px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 150px;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm17 {
  top: 477.0541687011719px;
  left: 303px;
  color: rgba(251, 72, 72, 1);
  width: 706px;
  height: auto;
  position: absolute;
  font-size: 80px;
  font-style: Regular;
  text-align: center;
  font-family: Kapakana;
  font-weight: 400;
  line-height: 150px;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm18 {
  top: 811.4639892578125px;
  left: 138px;
  color: rgba(59, 90, 247, 1);
  width: 980px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Anonymous Pro;
  font-weight: 400;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm19 {
  top: 230.89859008789062px;
  left: 205px;
  color: rgba(251, 72, 72, 1);
  width: 868px;
  height: auto;
  position: absolute;
  font-size: 280px;
  font-style: Regular;
  text-align: center;
  font-family: Kapakana;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm20 {
  top: 694px;
  left: 140px;
  color: rgba(0, 0, 0, 1);
  width: 999px;
  height: auto;
  position: absolute;
  font-size: 80px;
  font-style: Bold;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: 150px;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-frame7-elm {
  gap: 95px;
  top: 1480px;
  left: 161px;
  width: 1033px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.volunteer-thq-text-elm21 {
  color: rgba(0, 0, 0, 1);
  width: 281px;
  height: auto;
  font-size: 120px;
  font-style: Bold;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: 150px;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm22 {
  color: rgba(0, 0, 0, 1);
  width: 281px;
  height: auto;
  font-size: 120px;
  font-style: Bold;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: 150px;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm23 {
  color: rgba(0, 0, 0, 1);
  width: 281px;
  height: auto;
  font-size: 120px;
  font-style: Bold;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 700;
  line-height: 150px;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-star1-elm {
  top: 956px;
  left: 331px;
  width: 183px;
  height: 179px;
  position: absolute;
}
 
.volunteer-thq-star4-elm {
  top: 173px;
  left: 873px;
  width: 123px;
  height: 112px;
  position: absolute;
}
 
.volunteer-thq-star5-elm {
  top: 431px;
  left: 232px;
  width: 113px;
  height: 90px;
  position: absolute;
}
 
.volunteer-thq-star2-elm {
  top: 1046px;
  left: 148px;
  width: 183px;
  height: 179px;
  position: absolute;
}
 
.volunteer-thq-star3-elm {
  top: 1159px;
  left: 331px;
  width: 183px;
  height: 179px;
  position: absolute;
}
 
.volunteer-thq-rectangle5-elm {
  top: 978px;
  left: 729px;
  width: 446px;
  height: 297px;
  position: absolute;
}
 
.volunteer-thq-text-elm24 {
  top: 926.7076416015625px;
  left: 715px;
  color: rgba(59, 90, 247, 1);
  width: 474px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm25 {
  top: 1046.7076416015625px;
  left: 704px;
  color: rgba(0, 0, 0, 1);
  width: 474px;
  height: auto;
  position: absolute;
  font-size: 120px;
  font-style: Regular;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm26 {
  top: 1402px;
  left: 148px;
  color: rgba(251, 72, 72, 1);
  width: 957px;
  height: auto;
  position: absolute;
  font-size: 150px;
  font-style: Regular;
  text-align: center;
  font-family: Kapakana;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm27 {
  top: 1971px;
  left: 97px;
  color: rgba(59, 90, 247, 1);
  width: 957px;
  height: auto;
  position: absolute;
  font-size: 150px;
  font-style: Regular;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm28 {
  top: 1633px;
  left: 161px;
  color: rgba(0, 0, 0, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Anonymous Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm29 {
  top: 1633px;
  left: 537px;
  color: rgba(0, 0, 0, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Anonymous Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm30 {
  top: 1847px;
  left: 161px;
  color: rgba(59, 90, 247, 1);
  width: 252px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Kay Pho Du;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.volunteer-thq-text-elm31 {
  top: 1761px;
  left: 537px;
  color: rgba(59, 90, 247, 1);
  width: 252px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Kay Pho Du;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.volunteer-thq-text-elm32 {
  top: 1633px;
  left: 911px;
  color: rgba(0, 0, 0, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Anonymous Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm33 {
  top: 1731px;
  left: 911px;
  color: rgba(59, 90, 247, 1);
  width: 252px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Kay Pho Du;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.volunteer-thq-text-elm34 {
  top: 2187px;
  left: 161px;
  color: rgba(0, 0, 0, 1);
  width: 926px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Anonymous Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.volunteer-thq-text-elm35 {
  font-weight: 700;
}
 
.volunteer-thq-text-elm36 {
  font-weight: 400;
}
 
.volunteer-thq-text-elm37 {
  font-weight: 700;
}
 
.volunteer-thq-text-elm38 {
  font-weight: 400;
}
 
.volunteer-thq-text-elm39 {
  font-weight: 700;
}
 
.volunteer-thq-text-elm40 {
  font-weight: 400;
}
 
.volunteer-thq-text-elm41 {
  font-weight: 700;
}
 
.volunteer-thq-text-elm42 {
  font-weight: 400;
}
 
.volunteer-thq-text-elm43 {
  font-weight: 700;
}
 
.volunteer-thq-text-elm44 {
  font-weight: 400;
}
 
.volunteer-thq-text-elm45 {
  font-weight: 700;
}
 
.volunteer-thq-text-elm46 {
  font-weight: 400;
}
 
.volunteer-thq-text-elm47 {
  font-weight: 700;
}
 
.volunteer-thq-text-elm48 {
  font-weight: 400;
}
 
.volunteer-thq-text-elm49 {
  font-weight: 700;
}
 
.volunteer-thq-text-elm50 {
  font-weight: 400;
}
 
.volunteer-thq-text-elm51 {
  font-weight: 700;
}
 
.volunteer-thq-text-elm52 {
  font-weight: 400;
}
 
.volunteer-thq-text-elm53 {
  font-weight: 700;
}
 
.volunteer-thq-text-elm54 {
  font-weight: 400;
}
 
.volunteer-thq-text-elm55 {
  font-weight: 700;
}
 
.volunteer-link {
  display: contents;
}
 
.volunteer-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.volunteer-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.volunteer-text21 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
